# vscode
.lh
.vscode
**/__pycache__/

# py tool 
build

# root 
/*.py
/*.nut
start.bat
plugins/
logs/
store/

server64.exe
server32.exe

server_log.txt
server.cfg
server64.cfg
server32.cfg

announce.log
announce.py

# py pdm
.pdm-python
pdm.lock

# tool
tool/

# py build
*.egg-info

# test server
server


# cargo
target

# others
converters